body {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}
.main_aria {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.main {
  width: 400px;
  height: 400px;
  background: #0094a5;
  box-shadow: 5px 10px 50px 3px rgb(143, 143, 143);
  padding: 50px;
}
.main__title {
  margin-bottom: 25px;
}
label,
input {
  font-size: 30px;
}
#submit {
  margin-top: 15px;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000;
  background: #00ee00;
  transition: ease-in-out 0.4s;
  cursor: pointer;
  display: inline;
}
#submit:hover {
  color: #fff;
  background: #0000ff;
}
#clear {
  margin-top: 15px;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background: #ff0000;
  transition: ease-in-out 0.4s;
  cursor: pointer;
  display: inline;
}
#clear:hover {
  color: #fff;
  background: #0000ff;
}
